* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  height: 81px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;
}
.header .col.left-menus {
  display: flex;
  align-items: center;
  flex: 0 0 80%;
}
.header .col.left-menus .icon-header {
  margin-right: 51px;
}
.header .col.left-menus .icon-header .logo {
  max-height: 28px;
}
.header .col.left-menus .menus {
  display: flex;
  font-weight: 300;
}
.header .col.left-menus .menus .menu {
  margin-right: 32px;
  text-decoration: none;
  color: #000000;
}
.header .col.left-menus .menus .menu:last-child {
  margin-right: 0;
}
.header .col.lang-section {
  flex: 0 0 20%;
}
.header .col.lang-section .lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-section {
  padding-top: 80px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner-section .hero-image {
  width: 100%;
  object-fit: contain;
}
.banner-section .button-hero {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}
.banner-section .button-hero .link-hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #00aa13;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 0 2rem;
  min-height: 40px;
  font-size: 1rem;
  border: unset;
}

.section-one {
  padding: 6.5rem 0 3.52rem 0;
}
.section-one .container .flex-wrap .col.left {
  flex: 0 0 50%;
}
.section-one .container .flex-wrap .col.left .img {
  border-radius: 16px;
}
.section-one .container .flex-wrap .col.right {
  flex: 0 0 41%;
}
.section-one .container .flex-wrap .col.right .title {
  font-size: 32px;
  line-height: 1.41;
  color: #1c1d1d;
  margin-bottom: 16px;
  font-weight: bold;
}
.section-one .container .flex-wrap .col.right .description {
  line-height: 1.33;
  font-size: 1rem;
  margin-bottom: 32px;
}
.section-one .container .flex-wrap .col.right .links {
  display: inline-block;
  position: relative;
}
.section-one .container .flex-wrap .col.right .links .title-link .link {
  font-size: 18px;
  line-height: 1.33;
  color: #00aa13;
  text-decoration: none;
}
.section-two {
  padding: 3.52rem 0;
}
.section-two .container .wrap-slider .slide {
  border-radius: 32px;
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.section-two .container .wrap-slider .flickity-button.flickity-prev-next-button {
  object-fit: contain;
  background: #fff;
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.section-two .container .wrap-slider .flickity-button.flickity-prev-next-button.previous {
  left: -50px;
}
.section-two .container .wrap-slider .flickity-button.flickity-prev-next-button.next {
  right: -50px;
}
.section-two .container .wrap-slider .flickity-button.flickity-prev-next-button svg {
  color: #00aa13;
}
.section-two .container .wrap-slider .flickity-button:disabled {
  opacity: 0.5;
}
.section-two .container .wrap-slider .flickity-page-dots .dot {
  height: 8px;
  width: 8px;
}
.section-two .container .wrap-slider .flickity-page-dots .dot.is-selected {
  background: #00aa13;
}

.section-three {
  padding: 3.52rem 0;
}
.section-three .container .wrap-cards-wrap .main-title {
  font-size: 37px;
  margin-bottom: 48px;
  line-height: 1.41;
}
.section-three .container .wrap-cards-wrap .title {
  font-size: 32px;
  line-height: 1.41;
  margin-bottom: 16px;
}
.section-three .container .wrap-cards-wrap .description {
  font-size: 1.125rem;
  line-height: 1.33;
  margin-bottom: 32px;
  font-weight: 300;
}
.section-three .container .wrap-cards-wrap .wrap-slider-for-all {
  margin: 16px 16px 24px;
}
.section-three .container .wrap-cards-wrap .wrap-slider-for-all .slide {
  flex: 0 0 20%;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 16px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 50px;
  margin: 16px 16px 24px;
  padding: 16px;
}
.section-three .container .wrap-cards-wrap .wrap-slider-for-all .slide .description {
  padding-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 16px;
  font-weight: 300;
}
.section-three .container .wrap-cards-wrap.wrap-no-slider .wrap-slider-for-all {
  display: flex;
}
.section-three .container .wrap-cards-wrap.cards-slider .flickity-slider {
  left: 15px !important;
}
.section-three .container .wrap-cards-wrap.cards-slider .slide {
  width: 20%;
}

.footer-wrap {
  background-color: #25282b;
  color: white;
  padding: 40px 0 16px 0;
}
.footer-wrap .container .flex-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.footer-wrap .container .flex-wrap .box {
  flex: 0 0 33.33333%;
}
.footer-wrap .container .flex-wrap .box.left .icon {
  width: 220px;
}
.footer-wrap .container .flex-wrap .box.left .icon .img {
  object-fit: cover;
}
.footer-wrap .container .flex-wrap .box.center .menu-center-wrap {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-weight: 200;
}
.footer-wrap .container .flex-wrap .box.center .menu-center-wrap .menu-box {
  flex: 0 0 50%;
}
.footer-wrap .container .flex-wrap .box.center .menu-center-wrap .menu-box .link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 24px;
}
.footer-wrap .container .flex-wrap .box.right .title-footer {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-wrap .container .flex-wrap .box.right .wrap-app-download {
  display: flex;
  width: auto;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}
.footer-wrap .container .flex-wrap .box.right .box-app {
  flex: 0 0 45%;
}
.footer-wrap .container .flex-wrap .box.right .box-app .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-wrap .container .footer-copyright {
  text-align: center;
  font-weight: 200;
}
.footer-wrap .container .footer-copyright .center-fc-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 8px;
}
.footer-wrap .container .footer-copyright .center-fc {
  font-size: 0.625rem;
  line-height: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
